[submodule "kernel"]
	path = kernel
	url = https://github.com/fiyge/kernel
[submodule "library/Aws"]
	path = library/Aws
	url = https://github.com/fiyge/library-Aws
[submodule "library/Doctrine"]
	path = library/Doctrine
	url = https://github.com/fiyge/library-Doctrine
[submodule "library/Guzzle"]
	path = library/Guzzle
	url = https://github.com/fiyge/library-Guzzle
[submodule "library/JsonSchema"]
	path = library/JsonSchema
	url = https://github.com/fiyge/library-JsonSchema
[submodule "library/Monolog"]
	path = library/Monolog
	url = https://github.com/fiyge/library-Monolog
[submodule "library/Psr"]
	path = library/Psr
	url = https://github.com/fiyge/library-Psr
[submodule "library/Symfony"]
	path = library/Symfony
	url = https://github.com/fiyge/library-Symfony
[submodule "library/Zend"]
	path = library/Zend
	url = https://github.com/fiyge/library-Zend
[submodule "library/emogrifier"]
	path = library/emogrifier
	url = https://github.com/fiyge/library-emogrifier
[submodule "library/phpmailer"]
	path = library/phpmailer
	url = https://github.com/fiyge/library-phpmailer
[submodule "library/simpletest"]
	path = library/simpletest
	url = https://github.com/fiyge/library-simpletest
[submodule "library/svndiff"]
	path = library/svndiff
	url = https://github.com/fiyge/library-svndiff
[submodule "library/tcpdf"]
	path = library/tcpdf
	url = https://github.com/fiyge/library-tcpdf
[submodule "platform/module/access_controls"]
	path = platform/module/access_controls
	url = https://github.com/fiyge/platform-access_controls
[submodule "platform/module/admin_module_installer"]
	path = platform/module/admin_module_installer
	url = https://github.com/fiyge/platform-admin_module_installer
[submodule "platform/module/administration"]
	path = platform/module/administration
	url = https://github.com/fiyge/platform-administration
[submodule "platform/module/core"]
	path = platform/module/core
	url = https://github.com/fiyge/platform-core
[submodule "platform/module/crm_base"]
	path = platform/module/crm_base
	url = https://github.com/fiyge/platform-crm_base
[submodule "platform/module/development"]
	path = platform/module/development
	url = https://github.com/fiyge/platform-development
[submodule "platform/module/development_base"]
	path = platform/module/development_base
	url = https://github.com/fiyge/platform-development_base
[submodule "platform/module/document_management_base"]
	path = platform/module/document_management_base
	url = https://github.com/fiyge/platform-document_management_base
[submodule "platform/module/icons"]
	path = platform/module/icons
	url = https://github.com/fiyge/platform-icons
[submodule "platform/module/installation"]
	path = platform/module/installation
	url = https://github.com/fiyge/platform-installation
[submodule "platform/module/job_queue"]
	path = platform/module/job_queue
	url = https://github.com/fiyge/platform-job_queue
[submodule "platform/module/logging"]
	path = platform/module/logging
	url = https://github.com/fiyge/platform-logging
[submodule "platform/module/masters"]
	path = platform/module/masters
	url = https://github.com/fiyge/platform-masters
[submodule "platform/module/metadata"]
	path = platform/module/metadata
	url = https://github.com/fiyge/platform-metadata
[submodule "platform/module/tags"]
	path = platform/module/tags
	url = https://github.com/fiyge/platform-tags
[submodule "client/module/accounting"]
	path = client/module/accounting
	url = https://github.com/fiyge/module-accounting
[submodule "client/module/activities"]
	path = client/module/activities
	url = https://github.com/fiyge/module-activities
[submodule "client/module/analytics"]
	path = client/module/analytics
	url = https://github.com/fiyge/module-analytics
[submodule "client/module/appraisal"]
	path = client/module/appraisal
	url = https://github.com/fiyge/module-appraisal
[submodule "client/module/attendance"]
	path = client/module/attendance
	url = https://github.com/fiyge/module-attendance
[submodule "client/module/brules"]
	path = client/module/brules
	url = https://github.com/fiyge/module-brules
[submodule "client/module/calendar"]
	path = client/module/calendar
	url = https://github.com/fiyge/module-calendar
[submodule "client/module/calls"]
	path = client/module/calls
	url = https://github.com/fiyge/module-calls
[submodule "client/module/campaigns"]
	path = client/module/campaigns
	url = https://github.com/fiyge/module-campaigns
[submodule "client/module/cases"]
	path = client/module/cases
	url = https://github.com/fiyge/module-cases
[submodule "client/module/contracts"]
	path = client/module/contracts
	url = https://github.com/fiyge/module-contracts
[submodule "client/module/crm"]
	path = client/module/crm
	url = https://github.com/fiyge/module-crm
[submodule "client/module/dashboards"]
	path = client/module/dashboards
	url = https://github.com/fiyge/module-dashboards
[submodule "client/module/data_management"]
	path = client/module/data_management
	url = https://github.com/fiyge/module-data_management
[submodule "client/module/delivery"]
	path = client/module/delivery
	url = https://github.com/fiyge/module-delivery
[submodule "client/module/documentation"]
	path = client/module/documentation
	url = https://github.com/fiyge/module-documentation
[submodule "client/module/email_intelligence"]
	path = client/module/email_intelligence
	url = https://github.com/fiyge/module-email_intelligence
[submodule "client/module/faq"]
	path = client/module/faq
	url = https://github.com/fiyge/module-faq
[submodule "client/module/flexflow"]
	path = client/module/flexflow
	url = https://github.com/fiyge/module-flexflow
[submodule "client/module/flexflow_test"]
	path = client/module/flexflow_test
	url = https://github.com/fiyge/module-flexflow_test
[submodule "client/module/help"]
	path = client/module/help
	url = https://github.com/fiyge/module-help
[submodule "client/module/hr"]
	path = client/module/hr
	url = https://github.com/fiyge/module-hr
[submodule "client/module/kpi"]
	path = client/module/kpi
	url = https://github.com/fiyge/module-kpi
[submodule "client/module/leave_management"]
	path = client/module/leave_management
	url = https://github.com/fiyge/module-leave_management
[submodule "client/module/license_management"]
	path = client/module/license_management
	url = https://github.com/fiyge/module-license_management
[submodule "client/module/manufacturing"]
	path = client/module/manufacturing
	url = https://github.com/fiyge/module-manufacturing
[submodule "client/module/payroll"]
	path = client/module/payroll
	url = https://github.com/fiyge/module-payroll
[submodule "client/module/product"]
	path = client/module/product
	url = https://github.com/fiyge/module-product
[submodule "client/module/projects"]
	path = client/module/projects
	url = https://github.com/fiyge/module-projects
[submodule "client/module/purchase"]
	path = client/module/purchase
	url = https://github.com/fiyge/module-purchase
[submodule "client/module/recruitment"]
	path = client/module/recruitment
	url = https://github.com/fiyge/module-recruitment
[submodule "client/module/sales"]
	path = client/module/sales
	url = https://github.com/fiyge/module-sales
[submodule "client/module/stock"]
	path = client/module/stock
	url = https://github.com/fiyge/module-stock
[submodule "client/module/tag_cloud"]
	path = client/module/tag_cloud
	url = https://github.com/fiyge/module-tag_cloud
[submodule "client/module/email"]
	path = client/module/email
	url = git@github.com:fiyge/module-email.git
[submodule "client/module/web_forms"]
	path = client/module/web_forms
	url = https://github.com/fiyge/module-web_forms.git
